<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p><%= @recipe.name%></p>
    <p><%= @recipe.ingredients%></p>
    <p><%= @recipe.cook_time%></p>

    <form action="/recipes/<%=@recipe.id%>" method="post">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <input id="name" type="text" value="<%= @recipe.name%>" name="recipe[name]" />
      <input id="ingredients" type="text" value="<%= @recipe.ingredients%>" name="recipe[ingredients]" />
      <input id="cook_time" type="text" value="<%= @recipe.cook_time%>" name="recipe[cook_time]" />
      <input type="submit" value="submit"/>
    </form>
  </body>
</html>
